<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    {% for post in posts %}
        <h2><a href="{% url 'one_post' post.id %}">{{ post.title }}</a></h2>
        <p>筆者:{{ post.author }}, 公開日:{{ post.published }}, 更新日:{{ post.edited }}</p>
        <p>---------------------------------------------------------</p>
    {% endfor %}
    <a href="{% url 'admin:index' %}">管理者ページ</a>
</body>
</html>